.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "img_big description"
    "img_small description";
  gap: 10px 20px;
  margin-top: 25px;
  margin-left:180px
}

.main_container_small_imgs {
  grid-area: img_small;
}

.main_container_big_imgs img {
  border-radius: 10px;
  width: 20rem;
  height: 20rem;
  grid-area: img_big;
}


.main_container_description{

    grid-area: description;
}