.btn_product_orange{
    background-color: #ff7d1a;
    color: #ffffff;
    width:12rem;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;

}

.btn_image{

    width: 13px;
    
}